smart parking nodered flow code.txt
[{"id":"7437e44f.d6f99c","type":"tab","label":"smart parking system","disabled":false,"info":""},{"id":"18e55751.3c1fb9","type":"ibmiot in","z":"7437e44f.d6f99c","authentication":"apiKey","apiKey":"2c468dd2.7b3d42","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"parking","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":118,"y":215,"wires":[["65e406dc.a60d58","ae54f44a.673f78"]]},{"id":"65e406dc.a60d58","type":"function","z":"7437e44f.d6f99c","name":"distance1","func":"msg.payload=msg.payload.d.distance1\nglobal.set(\"distance1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":125,"wires":[["c3fd584d.e64d48","683f32f1.c77fdc"]]},{"id":"ae54f44a.673f78","type":"function","z":"7437e44f.d6f99c","name":"distance2","func":"msg.payload=msg.payload.d.distance2;\nglobal.set(\"distance2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":298,"wires":[["ae810106.fdd06","683f32f1.c77fdc"]]},{"id":"c6060a29.6c7dd8","type":"function","z":"7437e44f.d6f99c","name":"global function","func":"msg.payload={\"distance1\":global.get(\"distance1\"),\"distance2\":global.get(\"distance2\")}\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":414,"wires":[["e3ca4147.48c5"]]},{"id":"c3fd584d.e64d48","type":"ui_gauge","z":"7437e44f.d6f99c","name":"distance1","group":"cb5df3be.5949c","order":4,"width":"0","height":"0","gtype":"gage","title":"distance between sensor to vechile","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":685.5,"y":133,"wires":[]},{"id":"ae810106.fdd06","type":"ui_gauge","z":"7437e44f.d6f99c","name":"distance2","group":"cb5df3be.5949c","order":5,"width":0,"height":0,"gtype":"gage","title":"slot distance","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.5,"y":320,"wires":[]},{"id":"683f32f1.c77fdc","type":"debug","z":"7437e44f.d6f99c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":659,"y":210,"wires":[]},{"id":"c8638db2.2af5","type":"http in","z":"7437e44f.d6f99c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":311,"y":424,"wires":[["c6060a29.6c7dd8"]]},{"id":"e3ca4147.48c5","type":"http response","z":"7437e44f.d6f99c","name":"","statusCode":"","headers":{},"x":690,"y":406,"wires":[]},{"id":"2c468dd2.7b3d42","type":"ibmiot","z":"","name":"vamshi","keepalive":"60","serverName":"7jp8h1.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cb5df3be.5949c","type":"ui_group","z":"","name":"Default","tab":"a01b6ac3.cf4408","disp":true,"width":"6","collapse":false},{"id":"a01b6ac3.cf4408","type":"ui_tab","z":"","name":"vamshikrishna","icon":"dashboard","disabled":false,"hidden":false}]